

#site-menu {
  gap: 0.5rem;
}

@media (min-width: 640px) and (max-width: 1100px) {
  #site-menu {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.75rem;
  }
}

@media (min-width: 1101px) {
  #site-menu {
    width: auto;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}
