:host {
  display: block;
}

:host ::ng-deep .article-entry {
  color: #3d3d3f;
  font-size: 16px;
  line-height: 1.7em;
  border-bottom: 2px dashed #eee;
  letter-spacing: 1px;
  padding-bottom: 1.5em;
  margin-bottom: 3.5em;
}
